@import "vars";
@import "mixin";
@import "font";

body {
  background-color: $bg-color;
  position: relative;
}

main {
  width: 100vw;
}

.titleBox {
  position: relative;
  margin-bottom: 150px;
  text-align: center;
  .title {
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    border-radius: 47%;
    &:after {
      width: 140px;
      height: 50px;
      @include pseudo;
      @include absCenter(true, true);
      background: {
        position: 50%;
        image: url("../images/main/nc644-tit-bean-bg.png");
        size: contain;
        repeat: no-repeat;
      }
    }
  }
  h3 {
    font-family: "RecoletRegular";
    font-size: $font-extra-large * 2;
    text-transform: none;
  }
}

.inner {
  width: 1000px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#canvas {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#mainVisual {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color;
  &.off {
    .bgAni {
      opacity: 0;
    }
  }
  .bgAni {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .bg {
      width: 580px;
      height: 815px;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -290px;
      border: 1px solid #111;
      background-color: $bg-color;
      object-fit: cover;
    }
  }
  .contents {
    .count {
      display: flex;
      justify-content: center;
      width: 300px;
      height: 160px;
      position: fixed;
      overflow: hidden;
      padding: 0 30px;
      font-family: "644Number";
      font-size: $font-extra-large + 120;
      font-weight: 500;
      letter-spacing: -4px;
      @include absCenter(true, true);
      .count100 {
        position: fixed;
        top: -10%;
      }
      .count644 {
        display: flex;
        justify-content: center;
        position: fixed;
        @include absCenter(true, true);
        .numWrap {
          display: flex;
          align-items: center;
          flex-direction: column;
          transform: translateY(25%);
          &:nth-child(1) {
            align-items: end;
            text-align: right;
          }
          .before {
            opacity: 0;
          }
        }
      }
    }
    .dot {
      width: 45px;
      height: 45px;
      position: fixed;
      top: 60%;
      border-radius: 100%;
      background-color: #000;
      @include absCenter(true, false);
    }
    .guideTxt {
      width: 100%;
      height: 20px;
      position: relative;
      bottom: 25%;
      overflow: hidden;
      font-size: $font-normal + 2;
      font-weight: 500;
      text-align: center;
      @include absCenter(true, false);
      .loading,
      .scrollDown {
        display: inline-block;
        width: 100%;
        position: absolute;
        // opacity: 0;
      }
      .loading {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .scrollDown {
        opacity: 0;
        animation: moveTxtVertical 0.8s linear infinite both;
        &::after {
          display: block;
          position: absolute;
          bottom: 100%;
          font-size: $font-normal + 2;
          content: "SCROLL DOWN";
          @include absCenter(true, false);
        }
      }
    }
    .bottomTxt {
      bottom: 30px;
      font-size: 14px;
      line-height: 1.2;
      text-align: center;
      @include absCenter(true, false);
      .notice {
        margin-top: 5px;
        font-family: "NotoSansKR-Medium", sans-serif;
        color: rgba(0, 0, 0, 0.6);
      }
    }
    .arrow {
      width: 32px;
      height: 32px;
      bottom: 17%;
      @include absCenter(true, false);
      background: {
        position: 50% 50%;
        image: url("../images/main/nc644-bul-arrow.png");
        size: contain;
        repeat: no-repeat;
      }
    }
    img {
      width: 460px;
      top: 23.5%;
      z-index: 2;
      @include absCenter(true, false);
    }
  }
}

#about {
  margin-bottom: 200px;
  position: relative;
  &:before {
    @include pseudo;
    left: -22%;
    top: 30%;
    width: 100%;
    height: 100%;
    transform: translate(-50% -50%);
    background: {
      image: url("../images/main/nc644-simbol01.svg");
      repeat: no-repeat;
    }
  }
  &::after {
    @include pseudo;
    right: -7%;
    bottom: -35%;
    width: 100%;
    height: 100%;
    background: {
      image: url("../images/main/nc644-simbol02.svg");
      position: right bottom;
      repeat: no-repeat;
    }
  }
  .inner {
    position: relative;
    .titleBox {
      h4 {
        position: absolute;
        top: -20%;
        left: 10%;
        font-size: $font-normal + 2;
        font-weight: 600;
        line-height: 1.5;
        text-align: left;
      }
    }
    p {
      display: inline-block;
      width: 200px;
      position: absolute;
      right: 5%;
      font-weight: 600;
      line-height: 1.5;
      text-indent: 18px;
      &::before {
        top: 8%;
        left: 0;
        border-radius: 100%;
        @include pseudo;
        @include box(14px, 14px, #111);
      }
    }
    .contentsBox {
      height: 100vh;
      position: relative;
      .imgBox {
        width: 350px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-5deg);
        img {
          border: 1px solid #111;
        }
      }
      .btns {
        position: absolute;
        top: 40%;
        right: 15%;
        transform: translateY(-50%);
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 180px;
          height: 180px;
          position: relative;
          border: 1px solid #111;
          transition: all 0.25s ease-in-out;
          border-radius: 100%;
          &:hover {
            color: $bg-color;
            background-color: $red;
            .btn::after {
              background-image: url("../images/main/nc644-bul-arrow-hover-yellow.png");
            }
          }
          .btn {
            display: inline-block;
            width: 80px;
            margin-top: -30px;
            font-size: $font-normal + 2;
            font-weight: 500;
            text-align: center;
            &::after {
              width: 25px;
              height: 25px;
              top: 65%;
              left: 50%;
              transform: rotate(-90deg) translateY(-50%);
              transition: all 0.25s ease-in-out;
              @include pseudo;
              background: {
                size: contain;
                repeat: no-repeat;
                image: url("../images/main/nc644-bul-arrow.png");
              }
            }
          }
        }
      }
    }
  }
}

#mission {
  height: 100vh;
  position: relative;
  margin-bottom: 400px;
  .titleBox {
    margin-bottom: 0;
    h3 {
      font-size: $font-extra-large * 1.5;
    }
  }
  .contentsBox {
    position: absolute;
    top: 25%;
    width: 1000px;
    .list {
      display: flex;
      width: 100%;
      height: 100%;
      > li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-basis: 33.33%;
        text-align: center;
        text-transform: none;
        position: relative;
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            background: {
              position: 50%;
              image: url("../images/main/nc644-mission-bg-list0#{$i}.svg");
              repeat: no-repeat;
              size: contain;
            }
          }
        }
        &:nth-child(1) {
          height: 331px;
          transform: translateY(60%) rotate(-15deg);
          .listNum {
            margin-bottom: 10px;
          }
        }
        &:nth-child(2) {
          height: 582px;
          transform: translateY(50%) rotate(17deg);
          .listNum {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &:nth-child(3) {
          flex-direction: column-reverse;
          height: 373px;
          transform: translateY(120%) rotate(0deg);
          .desc {
            margin-bottom: 10px;
          }
          .subTitle {
            margin-bottom: 10px;
          }
        }
        .listNum {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          height: 35px;
          font-size: $font-medium - 4;
          color: $bg-color;
          background-color: #111;
          border-radius: 100%;
        }
        .subTitle {
          font-size: $font-large;
          font-family: "RecoletRegular";
          line-height: 1.2;
          font-weight: 500;
          margin-bottom: 10px;
        }
        .desc {
          font-size: $font-medium - 8;
          font-weight: 700;
          line-height: 1.5;
        }
      }
    }
  }
}

.marquee {
  width: 100%;
  height: 500px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fcebf3 80%);
  font-size: $font-medium - 2;
  display: flex;
  align-items: center;
  span {
    // animation: marquee 10s linear infinite forwards;
    position: relative;
    word-break: keep-all;
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    &::before {
      @include pseudo;
      top: 0;
      right: 0;
      width: 30px;
      transform: translateX(50%);
      height: 100%;
      background: {
        image: url("../images/main/nc644-bul-emoji.png");
        size: contain;
        position: 50%;
        repeat: no-repeat;
      }
    }
  }
}

#doguri {
  background-color: $bg-doguri;
  height: 100%;
  overflow: hidden;
  .titleBox {
    margin-top: 50px;
    margin-bottom: 0;
    h3 {
      display: block;
      width: 470px;
      margin: 0 auto;
      margin-top: 50px;
    }
    .desc {
      font-size: $font-normal + 5;
      font-weight: 900;
      line-height: 1.5;
      color: #593137;
      font-family: "NotoSansKR-Bold", serif;
      letter-spacing: -1px;
    }
  }
  .contentsBox {
    margin-bottom: 100px;
    .imgBox {
      width: 970px;
      margin: 0 auto;
    }
  }
}

.mousePointer {
  width: 15px;
  height: 15px;
  background-color: $red;
  border-radius: 100%;
  z-index: 100;
  position: fixed;
  top: -7.5px;
  left: -7.5px;
  pointer-events: none;
}

.topBtn {
  position: fixed;
  right: 3%;
  bottom: 5%;
  font-size: 18px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  z-index: 99;
  opacity: 0;
  &.on {
    opacity: 1;
  }
  &:hover {
    color: $red;
    .btn {
      animation: moveTopBtn 0.8s linear infinite forwards;
    }
  }
  .btn {
    width: 100%;
    height: 100%;
    display: block;
    &::before {
      content: "TOP ↑";
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}

@keyframes moveTxtVertical {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 100%);
  }
}

@keyframes moveTopBtn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
